.container {
    width: 100%;
    // height: 1296px;
    // max-height: 1296px;
}

.back {
    width: 100%;
    background: url(../../images/Homebackground.png) 50% 50% no-repeat;
    background-size: cover;
    // height: 1300px;
    // height: 650px;
    margin-top: -110px;
    // position: absolute;
}

.back1 {
    width: 100%;
    background: url(../../images/vape-smoke.png) 50% 50% no-repeat;
    background-size: cover;
    // height: 1300px;
    // height: 650px;
    // margin-top: 80px;
    // position: absolute;
}

.bannerHead{
    position: absolute;
    width: 836px;
    height: 201px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
    left: 612px;
    top: 120px;    
}

.box {
    display: flex;    
    justify-content: center;
    align-items: center;    
    gap: 12px;
    // position: absolute;
    // margin-left: 312px;
    // margin-top: 1145px;
}

.box .box1 {
    width: 315px;
    background: #8D86C9;
    padding: 35px 52px 40px 35px;    
    height: 151px;
    margin-top: 570px;
}

.box .box1 h5 {    
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.box .box1 .box2 {
    display: flex;
}

.box .box1 .box2 p {    
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

@media only screen and (max-width: 1259px) {
    .back{
        height: 450px;
        margin-top: -133px;
    }
    .box {        
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    .back{
        height: 400px;
        margin-top: -133px;
    }
    .box {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .back{
        height: 60vw;
        margin-top: -133px;
    }
    .box {
        display: none;
    }
}