.card {
    border: 1px solid #F7ECE1;
    width: 100%;
    max-width: 450px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: white;
}

.imageWrapper {
    width: 100%;
    height: 240px;
}

.data {  
    font-family: Montserrat; 
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;    
    color: #2F2F2F;
    text-align: center;    
}

.text {
    font-family: Montserrat;
    color: hsla(0, 0%, 20%, 1);
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    min-height: 300px;       
}

.button {    
    padding: 10px 20px;       
    width: 137px;
    height: 45px;
    background: #FF8A00;
    color: #FFF;  
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;    
}

.fill {
  width: 100%;  
  height: 100%;
  object-fit: contain;
}

.contacts {
    font-family: Montserrat;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;        
}
.contact {
    font-family: Montserrat;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500; 
    line-height: 120%;
}

.price {    
    font-family: Montserrat;
    font-size: 16px; 
    font-weight: 700; 
    line-height: 120%; 
}
