@import "~/src/styles/mixins";

// * {
//     ul li {
//         list-style: none;
//       }
//       ul li::before {
//         content: "\200B";
//       }
// }

.container {
    @include rulescontainer();
  }

.leftPart {                 
    width: 526px;
    height: 514px;            
}

.rightPart {
    position: absolute;           
    width: 856px;
    height: 654px;
    left: 700px;
    top: 2430px;    
}

.rightList{
    margin-left: 183px;
    margin-top: 25px;    
}

.rightpartList {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    width: 856px;    
}

.rightpartList::before {
    content: "- ";
    color: #8D86C9;
    font-size: 36px;    
    text-align: center;
}

.title {        
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 85px;
    margin-top: 130px;
  }

.rightHead {            
    margin-left: 146px;
    margin-right: 60px;
    margin-top: 70px;    
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
}

.rightText {    
    margin-left: 146px;
    margin-right: 60px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    width: 862px;
    height: 260px;
}

.bottomText {
    margin-top: 58px;
    margin-left: 146px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.bottomNumber {
    font-size: 48px;
    font-weight: bold;
    color: #8D86C9;
}

.leftList {
    margin-top: 80px;
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    margin-left: 30px;
    color: #333333;    
}

.leftlistPart {
    margin-bottom: 40px;
    width: 366px;
}

.leftlistPartThree {
    margin-bottom: 40px;
    margin-left: 30px;
    color: #8D86C9;
    width: 336px;
}