.serviceBottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 0 150px;
}

.serviceBottom .container {
    display: flex;
    justify-content: space-between;
}

.serviceBottom .container .box {
    display: flex;
    flex-direction: column;
}

.serviceBottom .container h3 {    
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #333333;
    margin-bottom: 75px;
}

.serviceBottom .container .box {
    display: flex;
    justify-content: space-between;
}

.serviceBottom .container .box .boxCard .box1 {
    width: 526px;
    background: #8D86C9;
    padding: 10px 21px 10px 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.serviceBottom .container .box .boxCard .box1:last-child {
    margin-bottom: 0;
}

.serviceBottom .container .box .boxCard .box1 p {    
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.serviceBottom .container .box .boxCard .box1 i {
    padding: 15px 14px;
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.serviceBottom .container .box nav {
    display: flex;
    justify-content: space-between;
}

.serviceBottom .container .box nav .btn i {
    background: #8D86C9;
    padding: 15px 14px;
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.serviceBottom .container .box nav .btn i:hover {
    background: #8d86c98c;
}

.serviceBottom .container .box .image {
    width: 636px;
    height: 370px;
    padding: 30px 25px;
    border: 1px solid #F7ECE1;
    position: relative;
}

.serviceBottom .container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.imageText {
    position: absolute;
    left: 65px;
    bottom: 60px;    
    font-weight: 700;
    font-size: 27px;
    line-height: 140%;
    color: #FFFFFF;
}

.sliderButton {
    background: #8D86C9;
    padding: 15px 14px;
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
// .serviceBottom .container .box .image::before {
//     content: '';
//     position: absolute;
//     left: 65px;
//     bottom: 60px;    
//     font-weight: 700;
//     font-size: 27px;
//     line-height: 140%;
//     color: #FFFFFF;
// }