@mixin container($max-width: 1376px) {
    width: 100%;
    max-width: $max-width;
    padding: 0 40px;
    margin-top: 80px;
    margin-left: 332px;
    margin-bottom: 200px;
}

@mixin infocontainer($max-width: 1376px) {
    width: 100%;
    max-width: $max-width;
    padding: 0 40px;
    margin-top: 175px;
    margin-left: 332px;
    margin-bottom: 200px;
}

@mixin rulescontainer($max-width: 1376px) {
    width: 100%;
    max-width: $max-width;
    padding: 0 40px;
    margin-top: 675px;
    margin-left: 332px;
    margin-bottom: 200px;
}

@mixin sportcontainer($max-width: 1076px) {
    width: 100%;
    max-width: $max-width;             
    display: flex;
    justify-content: flex-end;       
}