.card {
    width: 100%;    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.fill {
    width: 1000px;
    height: 400px;
}

.headtext {
    color: hsla(0, 0%, 20%, 1);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.text {
    color: hsla(0, 0%, 20%, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;       
    margin-top: 20px;    
    text-align: center;
}

@media only screen and (max-width: 1259px) {     
    .fill {
        width: 100%;
    }
  }
  @media only screen and (max-width: 991px) {    
    .fill {
        width: 100%;
    }  
  }
  @media only screen and (max-width: 767px) {     
    .fill {
        width: 100%;
    }
  }