.container {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;     
}

.main_text {
    position: absolute;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    top: 100px;    
    max-width: 649px;
    max-height: 116px;
}

.text {
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    top: 250px;           
    max-width: 570px;
    max-height: 44px;
}

@media only screen and (max-width: 1259px) {
    .headerTop nav{
        display: none;        
    }
    .headerMobileMenu {
        display: block;        
    }
    .fill {
        width: 100%;
        height: 100%;
    }
    .main_text { 
        font-size: 15px;
        top: 30px;
    }
    .text { 
        font-size: 15px;
        top: 60px;
    }
}
@media only screen and (max-width: 991px) {
    .headerTop nav{
        display: none;             
    }
    .headerMobileMenu {
        display: block;        
    }
    .fill {
        width: 100%;
        height: 100%;
    }
    .main_text { 
        font-size: 15px;
        top: 30px;
    }
    .text { 
        font-size: 15px;
        top: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .headerTop nav{
        display: none;        
    }
    .headerMobileMenu {
        display: block;        
    }
    .fill {
        width: 100%;
        height: 100%;
    }
    .main_text { 
        font-size: 15px;
        top: 30px;
    }
    .text { 
        font-size: 15px;
        top: 60px;
    }
}