.card {    
    width: 100%;
    max-width: 416px;
    height: 300px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;  
    margin-top: 60px;      
}

.imageWrapper {
    width: 100%;
    height: 180px;
}

.text {
    //color: hsla(0, 0%, 100%, 1);
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;    
    // margin-bottom: 40px;
    // width: 364px;    
}

.price {    
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    margin-top: -40px;        
}