.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 1330px;
    margin: 0 auto;
}

@media only screen and (max-width: 1259px) {     
    .list {
        width: 100%;
    }
  }
  @media only screen and (max-width: 991px) {    
    .list {
        width: 100%;
    }  
  }
  @media only screen and (max-width: 767px) {     
    .list {
        width: 100%;
    }
  }