.innerHeader {
    width: 100%;
    background: url(../../images/main_post.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    // position: absolute;
    margin-top: -105px;
    height: 263px;
}

.main__head {
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    color: #FFFF00;
    width: 100%;
    max-width: 1111px;
    height: 157px;
    margin-top: 120px;
}

@media only screen and (max-width: 1259px) {
    .main__head {
        font-weight: 400;
        font-size: 38px;
    }
    .innerHeader {
        margin-top: -145px;
    }
}
@media only screen and (max-width: 991px) {
    .main__head {
        font-weight: 400;
        font-size: 38px;
    }
    .innerHeader {
        margin-top: -145px;
    }
}
@media only screen and (max-width: 767px) {
    .main__head {
        font-weight: 400;
        font-size: 38px;
    }
    .innerHeader {
        margin-top: -145px;
    }
}