.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
}

.Myform{
    width:500px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 2px 2px 4px 0px #000000;
}
.Myform h1 {
    margin: 0;
    background-color: #282830;
    border-radius: 10px 10px 0 0;
    color: #fff; 
    font-size: 14px;
    padding: 20px; 
    text-align: center; 
    text-transform: uppercase; 
}
.inp{
    padding:20px; 
}
.log{
    border: 1px solid #dcdcdc; 
    padding: 12px 10px; 
    width: 460px; 
    border-radius: 5px 5px 0 0; 
}
.info{
    width:130px; 
    float: left; 
    padding-top: 20px;
}
@media only screen and (max-width: 1259px) {
    .Myform{
        width:500px;        
    }   
    .log{
        width:460px;        
    }
}
@media only screen and (max-width: 991px) {
    .Myform{
        width:400px;             
    }    
    .log{
        width:360px;        
    }
}
@media only screen and (max-width: 767px) {
    .Myform{
        width:300px;        
    }   
    .log{
        width:260px;        
    } 
}