// .innerHeader {
//     width: 100%;
//     background: url(../../images/logo.png) no-repeat;
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     // position: absolute;
//     margin-top: -105px;
//     height: 263px;
// }

// .main__head {
//     font-weight: 700;
//     font-size: 48px;
//     line-height: 140%;
//     text-align: center;
//     color: #FFFFFF;
//     width: 100%;
//     height: 157px;
//     margin-top: 136px;
// }

