header {
    width: 95vw;    
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 100%;    
}

.headerTop::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
}

.headerTop nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    // margin-left: 312px;    
}

.headerTop nav .logo {
    width: 153px;
    height: 46px;
    cursor: pointer;
}

.headerTop nav ul {
    display: flex;
    width: 742px;
    justify-content: space-between;
}

.headerTop nav ul li a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    transition: 0.3s;
}

.headerTop nav ul li a:hover {
    color: rgb(211, 139, 139);
}

.headerTop nav .icons {
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.headerTop nav .icons i {
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;    
}

.headerMobileMenu {
    color: #FFFFFF;
    display: none;
}

@media only screen and (max-width: 1259px) {
    .headerTop nav{
       flex-wrap: wrap;
    }    
}
@media only screen and (max-width: 991px) {
    .headerTop nav{
        flex-wrap: wrap;
    }    
}
@media only screen and (max-width: 767px) {
    .headerTop nav{
        flex-wrap: wrap;
    } 
}