footer {
    width: 100%;
    padding: 30px 0;
    background: #F7ECE1;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

footer .container nav {
    display: flex;
    justify-content: space-between;
}

footer .container nav span {    
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    opacity: 0.3;
}

footer .container nav ul {
    width: 742px;
    display: flex;
    justify-content: space-between;
}

footer .container nav ul li a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    transition: 0.3s;
}

footer .container nav ul li a:hover {
    color: rgb(185, 110, 110);
}

footer .container nav .icons i {
    color: #8D86C9;
    margin-left: 15px;
    cursor: pointer;
    font-size: 25px;
}
footer .container nav .icons i img{
    width: 30px;
    height: 18px;
}

footer nav .icons {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    gap: 29px;
    margin-left: 110px;
}

.copyright {    
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: #333333;
    opacity: 0.3;
    position: absolute;
    margin-left: -262px;
}
@media only screen and (max-width: 1259px) {
    .footer nav{
       flex-wrap: wrap;
    }    
}
@media only screen and (max-width: 991px) {
    .footer nav{
        flex-wrap: wrap;
    }    
}
@media only screen and (max-width: 767px) {
    .footer nav{
        flex-wrap: wrap;
    } 
}
