.Myform{
    width:500px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    margin: 10% auto;
    box-shadow: 2px 2px 4px 0px #000000;
}
.Myform h1 {
    margin: 0;
    background-color: #282830;
    border-radius: 10px 10px 0 0;
    color: #fff; 
    font-size: 14px;
    padding: 20px; 
    text-align: center; 
    text-transform: uppercase; 
}
.inp{
    padding:20px; 
}
.log{
    border: 1px solid #dcdcdc; 
    padding: 12px 10px; 
    width: 460px; 
    border-radius: 5px 5px 0 0; 
}
.pass{
    border: 1px solid #dcdcdc; 
    padding: 12px 10px; 
    width: 460px; 
    border-radius: 0px 0px 5px 5px;
    margin-top: 5px; 
}
.btn{
    background: #1dabb8; 
    border-radius: 5px; 
    color: #fff; 
    float: right;
    font-weight: bold; 
    margin: 10px; 
    padding: 12px 20px; 
}
.info{
    width:130px; 
    float: left; 
    padding-top: 20px;
}