// .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;    
// }
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .mainContainer {
    margin-top: 50px;
    min-height: 500px;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .main_text {
    text-align:center;
    font-family: Montserrat;    
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 20px;
  }
  
  .text {    
    font-family: Montserrat;    
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }

  .pict {
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    margin-top: 10px;
  }
  
  .info {
    font-family: Montserrat;        
    font-size: 18px;    
    margin-top: 10px;
  }

  .contact {
    font-family: Montserrat;        
    font-size: 18px;
    margin-top: 10px;    
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }