.card {
    border: 1px solid #F7ECE1;
    width: 100%;
    max-width: 916px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    background-color: white;    
}

.imageWrapper {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.fill {
    width: 755px;
    height: 515px;
}

.mainText {
    position: relative;    
    margin-top: 250px;
}

.data {    
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;    
    color: #2F2F2F;
    // text-align: center;
}

.head {    
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
}

.text {
    color: hsla(0, 0%, 20%, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    width: 856px;
    height: 20px;
    margin-top: 20px;    
}

.address_text {
    font-family: Montserrat;
    color: #2F2F2F;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;        
}
.contacts {
    margin-left: 64%;
    position: absolute;
    border: 1px solid #F7ECE1;
    padding: 25px 25px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
}

.contact {
    margin-top: 20px;
    font-family: Montserrat;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500; 
    line-height: 120%;
    height: 40px;    
}

.detailed_text {
    font-family: Montserrat;
    color: #2F2F2F;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    margin-top: 40px;
}

.detailed_description {
    width: 500px;
    margin-top: 20px;
    line-height: 150%;
}

.button {
    margin-top: 20px;
    border-radius: 6px;
    background-color: #FF8A00;
    color: #FFF;
    padding: 12px 32px;
    width: 197px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
}

.hr {
    width: 525px;
    height: 1px;
    opacity: 0.5;
    background: #B3B3B3;
}

.services_text {
    margin-top: 30px;
    font-family: Montserrat;
    color: #2F2F2F;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
}

.services {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.form {
    margin-top: 10px;
}


.error_card {
    width: 100%;    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.error_fill {
    width: 1000px;
    height: 400px;
}

.error_headtext {
    color: hsla(0, 0%, 20%, 1);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.error_text {
    color: hsla(0, 0%, 20%, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;       
    margin-top: 20px;    
    text-align: center;
}

@media only screen and (max-width: 1259px) {     
    .error_fill {
        width: 100%;
    }
    .card {        
        padding: 0;        
    }
    .detailed_description {
        width: 400px;        
    }
    .services { 
        width: 400px;
    }
    .contacts {
        margin-left: 4%;
        margin-top: 65%;
        height: 250px;                   
    }
    .head {    
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }
  }
  @media only screen and (max-width: 991px) {    
    .error_fill {
        width: 100%;
    }
    .card {        
        padding: 0;        
    }  
    .detailed_description {
        width: 400px;        
    }
    .services { 
        width: 400px;
    }
    .contacts {
        margin-left: 4%;
        margin-top: 65%; 
        height: 250px;                                           
    }
    .head {    
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }
  }
  @media only screen and (max-width: 767px) {     
    .error_fill {
        width: 100%;
    }
    .card {        
        padding: 0;        
    }
    .detailed_description {
        width: 400px;        
    }
    .services { 
        width: 400px;
    }
    .contacts {
        margin-left: 4%;
        margin-top: 65%;
        height: 250px;        
    }
    .head {    
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }
  }
