.slider {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.container {
  width: 100%;
  max-width: 1376px;
  padding: 0 40px;
  margin-top: 80px;
  margin-left: 332px;
  margin-bottom: 200px;
}

.headText {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 85px;
  margin-top: 80px;
}

.sliderButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sliderButton {
  background-color: hsla(246, 38%, 66%, 1);
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.topPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.mySwiper {
  margin-top: 215px;
}

.sliderWrapper {
  width: 100%;
  border: 1px solid hsla(30, 58%, 93%, 1);
  padding: 25px 20px;
  margin-top: 60px;

.fill {
  width: 100%;
}

  .swiper {
    height: 100%;
    width: 100%;    
  }

  .slide {
    height: 500px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
}

.imageText {
  position: absolute;
  left: 65px;
  bottom: 60px;    
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  background-color: #8D86C9;
  padding: 10px 20px;  
  height: 45px;
}

@media only screen and (max-width: 1259px) {  
  .container {
    margin-left: 3px;    
  }
  .fill {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {  
  .container {
    margin-left: 3px;
  }
  .fill {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) { 
  .container {
    margin-left: 3px;
  }
  .fill {
    width: 100%;
  }
}